* {
    font-family: sans-serif;

}

.body {

    display: grid;
    grid-template-columns: 0.1fr 0.8fr 0.1fr;
    grid-template-rows: repeat(auto, 6);

    grid-template-areas: 
    " header  header   header"
    " card    card     card  "
    " stats   stats    stats "
    " .       chart    .     "
    " sideL   chart    sideR "
    " .       chart    .     "
    " footer  footer   footer";

}





                        /* ________---HEADER---________ */

.header {
    grid-area: header;
    display: flex;
    justify-content: space-between;

    background: rgb(83,119,139);
    background: linear-gradient(0deg, rgba(83,119,139,1) 0%, rgba(233,227,221,1) 38%);
}


/* Izquierda del header */

.leftHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 0px 20px;
    
}

.leftHeader:hover{
    
    background-color: rgba(70, 70, 70, 0.271);
}

.logoTittle {
    font-size: 18px;
    font-weight: 600;
}


/* Derecha del header */

.rightHeader {
    display: flex;

    
    align-items: center;
    justify-content: center;
}

.lupa {
    padding: 15px;
}

.lupa:hover {
    background-color: rgba(70, 70, 70, 0.271);
}

.usuario {
    padding: 15px;
}

.usuario:hover {
    background-color: rgba(70, 70, 70, 0.271);
}





                    /* ________---CARD---________ */

.card {
    grid-area: card;
}

.barMenu {
    align-items: center;
    height: 30px;
    background-color: rgb(1, 24, 35);
    display: flex;
    justify-content: space-around;

}

.options {
    color: rgb(112, 133, 152);
    font-weight: 100;
    padding: 0px 40px;
    background-color: transparent;
    border: none;
}

.options:hover {
    color: rgb(205, 231, 255);
    background-color: rgb(34, 61, 98);
}

/* CARRUSEL DE JUEGOS */ 


.gameSlide {
    width: 100%; 
    height: 50vh;
    background-image: url(../images/COD.jpg);
    background-size: cover;
}

.gameTittle {
    padding: 50px 100px;
    align-items: center;
}

.font1 {
    color: rgb(205, 231, 255);
    font-size: 38px;
    font-weight: 600;
}

.font2 {
    color: rgb(205, 231, 255);
    font-size: 38px;
    font-weight: lighter;
}





                    /* ________---CARD---________ */


.stats {
    display: flex;
    flex-direction: column;
    align-items: center;

    grid-area: stats;
    background-image: url(../images/FONDO.jpg);
    background-size: cover;
    background-position: center;


}

.statsTittle {
    font-size: 28px;
    font-weight: 600;
    padding: 40px;
    padding-top: 80px;
}

.stats img {
    height: 70vh;
    padding: 50px;
    padding-top: 0%;
}

/* */

